@model ProyectoSemilleros_Agroite.Models.UnidadExtension
@{
    ViewBag.Title = "AgregarEditar";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<ol class="breadcrumb">
    <li><a href="~/UnidadExtension/Index">Unidad de Extension</a></li>
    <li> / </li>

    <li class="active">@(Model.IdUnidadExtension> 0 ? Model.Nombre : "Nueva Unidad de Extension")</li>
</ol>

@using (Html.BeginForm("Guardar", "UnidadExtension", FormMethod.Post))
{
    @Html.HiddenFor(x => x.IdUnidadExtension)

    <div class="card">
        <div class="card-header">Información de Unidad de Extension</div>

        <div class="card-body">

            <div class="form-group">
                @Html.Label("Id")
                @Html.TextBoxFor(x => x.IdUnidadExtension, new { @class = "form-control", disabled = true })
            </div>

            <div class="form-group">
                @Html.Label("Nombre de la UnidadExtension")
                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "text-danger" })
            </div>

        </div>
    </div>

    <br />
    <div class="text-right">
        <button type="submit" class="btn btn-primary"> Registrar Unidad de Extension</button>
        <a href="~/UnidadExtension" class="btn btn-danger"> Cancelar </a>
    </div>
}

