@model ProyectoSemilleros_Agroite.Models.Usuario
@{
    ViewBag.Title = "NuevoUsuario";
    List<ProyectoSemilleros_Agroite.Models.Actividad> tipo = ViewBag.Tipo3;
}

<div class="login-page">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Registrarme</h3>
        <div class="login-body">
            

            @using (Html.BeginForm("Guardar", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.HiddenFor(x => x.IdUsuario)
                <div class="form-group">
                    @Html.Label("Nombres: ")
                    @Html.TextBoxFor(x => x.Nombres, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Nombres, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Apellidos: ")
                    @Html.TextBoxFor(x => x.Apellidos, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Apellidos, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Tipo Documento: ")
                    @Html.TextBoxFor(x => x.Tipo_Documento, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Tipo_Documento, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Nro. Documento: ")
                    @Html.TextBoxFor(x => x.Num_Identificacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Num_Identificacion, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Foto de Perfil: ")
                    <input type="file" id="imgfile1" name="imgfile1" class="btn btn-info" />
                    @*@Html.TextBoxFor(x => x.ImagenesProducto, new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(x => x.Foto_Perfil, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Telefono: ")
                    @Html.TextBoxFor(x => x.Celular, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Celular, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Direccion: ")
                    @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Direccion, null, new { @class = "label label-danger" })
                </div>

                <div class="form-group">
                    @Html.Label("Correo: ")
                    @Html.TextBoxFor(x => x.Correo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Correo, null, new { @class = "label label-danger" })
                </div>

                <div class="form-group">
                    @Html.Label("Tipo Usuario: ")
                    <select name="IdActividad" class="form-control">
                        <option @(Model.IdActividad.Equals("") ? "selected" : "") value="">-Seleccione-</option>
                        @foreach (var t in tipo)
                        {
                            <option @(Model.IdActividad.Equals(t.IdActividad) ? "selected" : "") value="@t.IdActividad">@t.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    @Html.Label("Usuario: ")
                    @Html.TextBoxFor(x => x.Alias, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Alias, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Contraseña: ")
                    @Html.TextBoxFor(x => x.Contraseña, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Contraseña, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Organizacion: ")
                    @Html.TextBoxFor(x => x.Organizacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Organizacion, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Descripcion: ")
                    @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Descripcion, null, new { @class = "label label-danger" })
                </div>
                <input type="submit" value="Registrar"><br /><br />
                <a href="~/Home" class="btn btn-danger">Cancelar</a>
            }
        </div>
    </div>
</div>
