@model ProyectoSemilleros_Agroite.Models.Usuario

@{
    ViewBag.Title = "Menu";
    var img = "";
    if (Model.Foto_Perfil == null)
    {
        img = null;
    }
    else
    {
        var base64 = Convert.ToBase64String(Model.Foto_Perfil);
        img = String.Format("data:image/gif;base64,{0}", base64);
    }

    //if (base64==null)
    //{
    //    img = null;
    //}
    //else
    //{

    //}

}

<link rel="stylesheet" type="text/css" href="/static/materialize-v1.0.0-beta/css/materialize.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/fontawesome-all.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">



<div class="container z-depth-2 div_informacion borde">


    <div style="margin-bottom:15px;" id="opciones_perfil">
        <a href="/Usuario/AgregarEditar/?id=@Model.IdUsuario" class="waves-effect waves-light green btn">

            <i class="fa fa-edit left">
                Editar Perfil
            </i>
        </a>
        <a href="/Producto/NuevoProducto" class="waves-effect waves-light blue btn ">

            <i class="fa fa-cubes left ">
                Nuevo Producto
            </i>
        </a>
        <a href="/Producto/Index/?idusuario=@Model.IdUsuario" class="waves-effect waves-light orange darken-4 btn btn modal-">
            <i class="fa fa-cubes left">
                Mis Productos
            </i>
        </a>
    </div>
    <div class="row borde" style="border-color:darkgray">
        <div class="col s12 m3 center-align">
            <div class="borde " style="border-color:darkgray">
                @if (img == null)
                {
                    <img class="responsive-img" src="~/images/loguusu1.png" />
                }
                else
                {
                    <img class="responsive-img" src="@img" />
                }

            </div>

        </div>
        <div class="col s12 m9">
            <h3 style="margin-top:0px;">
                <i class="borde circle fa fa-fire"></i>
                Agricultor
            </h3>
            <h5><b><i class="fa fa-user">@Model.Nombres, @Model.Apellidos</i></b></h5>
            <h5>
                <b><i class="fa fa-map-marker"></i></b>
                @Model.Direccion
            </h5>
            <h5>
                <b><i class="fa fa-phone"></i></b>
                @Model.Celular
            </h5>
            <h5>
                <b><i class="fa fa-send"></i></b>
                @Model.Correo
            </h5>
        </div>
        <div class="row">
            <div class="col s12" style="overflow:hidden;">
                <h5><b>Descripcion:</b></h5>
                <h5 style="white-space:pre-line;display:block;">@Model.Descripcion</h5>
            </div>
        </div>
    </div>

</div>






