@model ProyectoSemilleros_Agroite.Models.Usuario

@{
    ViewBag.Title = "Perfil";
    var base64 = Convert.ToBase64String(Model.Foto_Perfil);
    var img = String.Format("data:image/gif;base64,{0}", base64);
}

<div class="container z-depth-2 div_informacion borde">


    <div class="row borde" style="border-color:darkgray">
        <div class="col s12 m3 center-align">
            <div class="borde " style="border-color:darkgray">
                <img class="responsive-img" src="@img" />
            </div>

        </div>
        <div class="col s12 m9">
            <h3 style="margin-top:0px;">
                <i class="borde circle fa fa-fire"></i>
                Agricultor
            </h3>
            <h5><b><i class="fa fa-user"> @Model.Nombres, @Model.Apellidos</i></b></h5>
            <h5>
                <b><i class="fa fa-map-marker"></i></b>
                @Model.Direccion
            </h5>
            <h5>
                <b><i class="fa fa-phone"></i></b>
                @Model.Celular
            </h5>
            <h5>
                <b><i class="fa fa-send"></i></b>
                @Model.Correo
            </h5>
        </div>
        <div class="row">
            <div class="col s12" style="overflow:hidden;">
                <h5><b>Descripcion:</b></h5>
                <h5 style="white-space:pre-line;display:block;">@Model.Descripcion</h5>
            </div>
        </div>


    </div>

</div>
