@model GestionAgroite_V1_CSI.Models.Usuario
@{
    ViewBag.Title = "AgregarEditar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<GestionAgroite_V1_CSI.Models.Actividad> tipo = ViewBag.Tipo3;
    if (ViewBag.imagen != null)
    {
        var base64 = Convert.ToBase64String(ViewBag.imagen);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<div class="header bg-white pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">

                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark text-success">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="~/Admin/Index">Dashboards</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="~/Usuario/Index">Agricultores</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="body-content">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h2>Agregar Nuevo Agricultor</h2>
                        </div>
                        <br />
                        @using (Html.BeginForm("Guardar", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            @Html.HiddenFor(x => x.IdUsuario)
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    @Html.Label("Nombres: ")
                                    @Html.TextBoxFor(x => x.Nombres, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Nombres, null, new { @class = "label label-danger" })
                                </div>
                                <div class="col-md-6 mb-3">
                                    @Html.Label("Apellidos: ")
                                    @Html.TextBoxFor(x => x.Apellidos, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Apellidos, null, new { @class = "label label-danger" })
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.Label("Correo: ")
                                @Html.TextBoxFor(x => x.Correo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Correo, null, new { @class = "label label-danger" })
                            </div>
                            <div class="mb-3">
                                <label for="address">Direccion *</label>

                                @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Direccion, null, new { @class = "label label-danger" })
                            </div>

                            <div class="row">
                                <div class="col-md-5 mb-3">

                                    @Html.Label("Actividad: ")
                                    <select name="IdActividad" class="form-control">
                                        <option @(Model.IdActividad.Equals("") ? "selected" : "") value="">-Seleccione-</option>
                                        @foreach (var t in tipo)
                                        {
                                            <option @(Model.IdActividad.Equals(t.IdActividad) ? "selected" : "") value="@t.IdActividad">@t.Nombre</option>
                                        }
                                    </select>

                                </div>
                                <div class="col-md-4 mb-3">
                                    @Html.Label("Tipo Documento:  ")
                                    <select name="Tipo_Documento" class="form-control">
                                        <option @(Model.Tipo_Documento == 0 ? "selected" : "") value="0">-DNI-</option>
                                        <option @(Model.Tipo_Documento == 1 ? "selected" : "") value="1">-RUC-</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    @Html.Label("Nro. Documento: ")
                                    @Html.TextBoxFor(x => x.Num_Identificacion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Num_Identificacion, null, new { @class = "label label-danger" })
                                </div>

                            </div>
                            <div class="mb-4">
                                <label for="username">Foto de Perfil *</label>
                                <div class="input-group">
                                    <input type="file" id="imgfile1" name="imgfile1" class="btn btn-info" />
                                    @Html.ValidationMessageFor(x => x.Foto_Perfil, null, new { @class = "label label-danger" })
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    @Html.Label("Contraseña: ")
                                    @Html.TextBoxFor(x => x.Contraseña, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Contraseña, null, new { @class = "label label-danger" })
                                </div>
                                <div class="col-md-6 mb-3">
                                    @Html.Label("Celular: ")
                                    @Html.TextBoxFor(x => x.Celular, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Celular, null, new { @class = "label label-danger" })
                                </div>
                            </div>
                            
                            
                            <div class="text-center">
                                <button class="btn btn-info">Registrar</button>
                                <a href="~/Usuario/Index" class="btn btn-danger">Cancelar</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



