@model GestionAgroite_V1_CSI.Models.Almacen
@{
    ViewBag.Title = "AgregarEditar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<GestionAgroite_V1_CSI.Models.Producto> tipo = ViewBag.Tipo3;
}
<div style="margin: 35px 50px">
    <div style="margin: 35px 400px">
        <ol class="breadcrumb">
            <li><a href="~/Almacen/Index">Almacen</a></li>
            <li> / </li>
            <li class="active">@(Model.IdAlmacen> 0 ? Model.Nombre: "Nuevo Almacen")</li>
        </ol>

        @using (Html.BeginForm("Guardar", "Almacen", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.IdAlmacen)

            <div class="card">
                <div class="card-header">Información de la Asociacion</div>

                <div class="card-body">
                    <div class="form-group">
                        @Html.Label("Nombre ")
                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Direccion ")
                        @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Direccion, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Localidad ")
                        @Html.TextBoxFor(x => x.Localidad, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Localidad, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Provincia ")
                        @Html.TextBoxFor(x => x.Provincia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Provincia, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Capacidad ")
                        @Html.TextBoxFor(x => x.Capacidad, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Capacidad, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Producto: ")
                        <select name="IdProducto" class="form-control">
                            <option @(Model.IdProducto.Equals("") ? "selected" : "") value="">-Seleccione-</option>
                            @foreach (var t in tipo)
                            {
                                <option @(Model.IdProducto.Equals(t.IdProducto) ? "selected" : "") value="@t.IdProducto">@t.Nombre_Producto</option>
                            }
                        </select>
                    </div>

                </div>
            </div>
            <br />
            <div class="text-right">
                <button type="submit" class="btn btn-primary"> Registrar Almacen</button>
                <a href="~/Almacen" class="btn btn-danger"> Cancelar </a>
            </div>
        }

    </div>
</div>