@model List<FrontEndAgroIte_V1_CSI.Models.Usuario>
@{
    ViewBag.Title = "Index";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>ABOUT US</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Acerca de Nuestros Productores</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">

        <div class="row my-4 border-0">
            <div class="col-12">
                <h2 class="noo-sh-title">Productores</h2>
            </div>
            @foreach (var item in Model)
            {
                var base64 = Convert.ToBase64String(item.Foto_Perfil);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <div class="col-lg-4 col-md-6">
                    <div class="hover-team">
                        <div class="our-team">

                            <img src="@imgSrc" style="height:350px;" alt="" />
                            <div class="team-content">
                                <h3 class="title"><b><i class="fa fa-user"></i>&nbsp; @item.Nombres,@item.Apellidos</b></h3> <h3 class="post"><i class="fa fa-users"></i>&nbsp;@item.Asociacion.Razon_Social</h3>
                            @*</div>
                                <h2 class="post"><b><i class="fa fa-user"></i>&nbsp; @item.Nombres,@item.Apellidos</b></h2> <span class="post"><i class="fa fa-users"></i>&nbsp;@item.Asociacion.Razon_Social</span>*@
                            </div>

                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>

                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div>
                            <h5 class="title"><b><i class="fa fa-phone"></i>&nbsp; @item.Celular</b></h5>
                        </div>
                        <div>
                            <h5 class="title"><b><i class="fa fa-envelope"></i>&nbsp; @item.Correo</b></h5>

                        </div>
                        <div>

                            <h5 class="title"><b><i class="fa fa-map-marker"></i>&nbsp; @item.Direccion</b></h5>
                        </div>
                        <div class="team-description">


                            <p>@item.Descripcion </p>
                        </div>
                        <hr class="my-0">
                    </div>
                </div>
                }

        </div>

        </div>
</div>



