@model GestionAgroite_V1_CSI.Models.Transportador
@{
    ViewBag.Title = "AgregarEditar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header bg-white pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">

                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark text-success">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="~/Admin/Index">Dashboards</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="~/Transportador/Index">Transportista</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="body-content">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h2>Agregar Nuevo Transportista</h2>
                        </div>
                        <br />
                        @using (Html.BeginForm("Guardar", "Transportador", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            @Html.HiddenFor(x => x.IdTransportador)
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    @Html.Label("Nombres: ")
                                    @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "label label-danger" })
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.Label("Correo: ")
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "label label-danger" })
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    @Html.Label("Celular: ")
                                    @Html.TextBoxFor(x => x.Tefono, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Tefono, null, new { @class = "label label-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    @Html.Label("Estado: ")
                                    <select name="Estado" class="form-control">
                                        <option @(Model.Disponibilidad == 0 ? "selected" : "") class="form-control" value="0">Disponible</option>
                                        <option @(Model.Disponibilidad == 1 ? "selected" : "") class="form-control" value="1">En Servicio</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-info">Registrar</button>
                                <a href="~/Transportador/Index" class="btn btn-danger">Cancelar</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>