@model List<GestionAgroite_V1_CSI.Models.Producto>
@{
    ViewBag.Title = "Index";
}
<div style="margin: 35px 50px">
    <h2 class="page-header">
        Producto
        <a href="~/Producto/AgregarEditar" class="btn btn-success float-lg-right">Nuevo  Producto</a>
    </h2>
    <br />

    <table id="DataTablesLanguage" class="table align-items-center table-flush">
        <thead>
            <tr>
                <th style="width:80px;">Nombre Producto</th>
                <th style="width:50px;">Asociacion</th>
                <th style="width:50px;">Precio Referencial</th>
                <th style="width:50px;">Imagen Producto</th>
                <th style="width:40px;">Cantidad Producida</th>
                <th style="width:150px;">Acciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {                
                <tr>
                    <td>@(item.Nombre_Producto)</td>
                    <td>@(item.Asociacion.Razon_Social.Substring(0,10))...</td>
                    <td>@(item.Precio_Referencial)</td>
                    <td>
                        <img src="http://localhost:57711/Content/ProductosFiles/@item.Imagenes_Producto" width="100" />
                    </td>
                    <td>@(item.Cantidad_Producida) @(item.UnidadVolumen.Nombre)</td>
                    <th style="align-content:center">
                        <a href="~/Producto/Visualizar/@item.IdProducto" class="btn btn-xs btn-warning">Detalles</a>
                        <a href="~/Producto/AgregarEditar/@item.IdProducto" class="btn btn-xs btn-primary">Modificar</a>
                        <a onclick="return confirm('¿Esta seguro que desea eliminar el registro...?');"
                           href="~/Producto/Eliminar/@item.IdProducto" class="btn btn-xs btn-danger">Eliminar</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
    </div>