@model GestionAgroite_V1_CSI.Models.VModelVenta
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int contador = 1;
}
<a href="~/Pedido/Index/" class="btn btn-info">Atender Pedidos</a>
<br /><br />
<table id="DataTablesLanguage" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Pedido</th>            
            <th scope="col">Cantidad</th>            
            <th scope="col">Total</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>        
        @foreach (var item in Model.Venta)
        {
        <tr>
            <th scope="row">@(contador++)</th>
            <td>@item.Fecha</td>
            @foreach (var D in Model.detallepedido)
            {
                if (item.IdPedido == D.IdPedido)
                {
                    foreach (var P in Model.producto)
                    {
                        if (D.IdProducto == P.IdProducto)
                        {
                            <td>@P.Nombre_Producto</td>
                        }
                    }
                    <td>@(D.Cantidad%2==0?Convert.ToInt32(D.Cantidad):D.Cantidad)</td>
                }
            }
            <td>@item.Total</td>
            <td>
                <button type="button" onclick="Detalle('@item.IdVenta')" class="btn btn-primary">Detalle</button>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Detalle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputState">Fecha</label>
                        <input type="text" name="txtFecha" id="txtFecha" class="form-control" value="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Numero Serie</label>
                        <input type="text" name="txtNumSerie" id="txtNumSerie" class="form-control" value="" />
                    </div>
                </div>
                <div class="row">                    
                    <div class="form-group col-md-6">
                        <label for="inputState">Comprador</label>
                        <input type="text" name="txtComprador" id="txtComprador" class="form-control" value="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Transportador</label>
                        <input type="text" name="txtTransportista" id="txtTransportista" class="form-control" value="" />
                    </div>
                </div>
                <table class="table table-bordered" id="listaDetalle">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>PrecioUnit</th>
                            <th>SubTotal S/.</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputState">Total S/.</label>
                        <input type="text" id="txtTotal" name="txtTotal" class="form-control" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    function Detalle(id) {
        $("#exampleModalCenter").modal("show");
        var data = {
            IdVenta: id
        }

        $.ajax({
            url: '/Venta/DetalleVenta/',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (data) {
                var rows = '';                
                console.log(data);
                $.each(data, function (i, item) {
                    rows += "<tr>"
                    rows += "<td>" + item.Producto.Nombre_Producto + "</td>"
                    rows += "<td>" + item.Cantidad + "</td>"
                    rows += "<td>" + item.Producto.Precio_Referencial + "</td>"                    
                    rows += "<td>" + item.Subtotal + "</td>"
                    rows += "</tr>";
                    $("#listaDetalle tbody").html(rows);                    
                });
                LlenandoCabercera(id);
            },
            error: function (err) {
                alert("Error: " + err.responseText);
                console.log(err);
            }
        })
    }
    function LlenandoCabercera(id) {
        var query = {
            IdVenta: id
        }
        $.ajax({
            url: '/Venta/LlenarCabecera/',
            type: 'POST',
            dataType: 'json',
            data: query,
            success: function (query) {
                console.log(query);
                $.each(query, function (i, item) {
                    $("#txtFecha").val(item.Fecha);
                    $("#txtNumSerie").val(item.Num_Serie);
                    $("#txtComprador").val(item.Pedido.Usuario.Nombres + " " +item.Pedido.Usuario.Apellidos);
                    $("#txtTransportista").val(item.Transportador.Nombre);
                    $("#txtTotal").val(item.Total);
                });
                //$("#txtFecha").val(query.Fecha);
                //$("#txtNumSerie").val(query.NumSerie);
                //$("#txtComprador").val(query.Pedido.Usuario.Nombres + query.Pedido.Usuario.Apellidos);
                //$("#txtTransportista").val(query.Transportador.Nombre);
                //$("#txtTotal").val(query.Total);
            },
            error: function (err) {
                alert("Error: " + err.responseText);
                console.log(err);
            }
        })
    }
</script>
