@model GestionAgroite_V1_CSI.Models.Asociacion
@{
    ViewBag.Title = "AgregarEditar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div style="margin: 35px 50px">
    <div style="margin: 35px 400px">
        <ol class="breadcrumb">
            <li><a href="~/Asociacion/Index">Asociacion</a></li>
            <li> / </li>
            <li class="active">@(Model.IdAsociacion> 0 ? Model.Razon_Social : "Nuevo Asociacion")</li>
        </ol>*@
<div class="header bg-white pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">

                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark text-success">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="~/Admin/Index">Dashboards</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="~/Asociacion/Index">Asociación</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="body-content">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h2>Agregar Nueva Asociacion</h2>
                        </div>
                        <br />
                        @using (Html.BeginForm("Guardar", "Asociacion", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.IdAsociacion)

                            <div class="card">
                                <div class="card-header">Información de la Asociacion</div>

                                <div class="card-body">



                                    <div class="form-group">
                                        @Html.Label("Ruc ")
                                        @Html.TextBoxFor(x => x.Ruc, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Ruc, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Razon Social ")
                                        @Html.TextBoxFor(x => x.Razon_Social, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Razon_Social, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Descripcion")
                                        @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Descripcion, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Dapartamento ")
                                        @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Descripcion, null, new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Provincia ")
                                        @Html.TextBoxFor(x => x.Provincia, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Provincia, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Direccion ")
                                        @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Direccion, null, new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                            <br />
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary"> Registrar Asociacion </button>
                                <a href="~/Asociacion" class="btn btn-danger"> Cancelar </a>
                            </div>
                        }

                        @*</div>
                            </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
