@model List<GestionAgroite_V1_CSI.Models.Asociacion>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int numero = 1;
}

<div style="margin: 35px 50px">
    <h2 class="page-header">
        Asociacion
        <a href="~/Asociacion/AgregarEditar" class="btn btn-success float-lg-right">Nuevo Asociacion</a>
    </h2>
    <br />
<table id="DataTablesLanguage" class="table align-items-center table-flush">
    <thead>
        <tr>
            <th style="width : 50px;"> ID</th>
            <th style="width : 150px;">RUC</th>
            <th style="width : 150px;">Razon Social</th>
            <th style="width : 150px;">deescripción</th>
            <th style="width : 150px;">Departamento</th>
            <th style="width : 150px;">Provincia</th>
            <th style="width : 300px">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <th>@(numero++)</th>
                <th>@(m.Ruc)</th>
                <th>@(m.Razon_Social==null?m.Razon_Social: m.Razon_Social.Substring(0, 10))...</th>
                <th>@(m.Descripcion==null?m.Razon_Social: m.Descripcion.Substring(0, 10))...</th>
                <th>@(m.Dapartamento==null?m.Dapartamento: m.Dapartamento.Substring(0, 4))...</th>
                <th>@(m.Provincia==null?m.Provincia: m.Provincia.Substring(0, 4))...</th>
                <th>
                    <a href="~/Asociacion/Visualizar/@m.IdAsociacion" class="btn btn-xs btn-warning">Detalles</a>
                    <a href="~/Asociacion/AgregarEditar/@m.IdAsociacion" class="btn btn-xs btn-primary">Modificar</a>
                    @*<a onclick="return confirm('Esta seguro que desea eliminabr el registro?...');"
                       href="~/Asociacion/Eliminar/@m.IdAsociacion" class="btn btn-xs btn-danger">Eliminar</a>*@
                </th>
            </tr>
        }
    </tbody>
</table>
 </div>
