@model GestionAgroite_V1_CSI.Models.Asociacion
@{
    ViewBag.Title = "Visualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin: 35px 50px">
    <h2>Visualizar</h2>
    <ol class="breadcrumb">
        <li><a href="~/Asociacion/Index">Asociacion</a></li>
        <li> / </li>
        <li class="active">@Model.IdAsociacion</li>
    </ol>

    <div class="card card-body">
        <div class="card-header">Informacion de Asociacion</div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>Ruc</dt>
                <dd>@Model.Ruc</dd>
                <dt>Razon Social</dt>
                <dd>@Model.Razon_Social</dd>
                <dt>Descripcion</dt>
                <dd>@Model.Descripcion</dd>
                <dt>Departamento</dt>
                <dd>@Model.Dapartamento</dd>
                <dt>Provincia</dt>
                <dd>@Model.Provincia</dd>
                <dt>Direccion</dt>
                <dd>@Model.Direccion</dd>
            </dl>
        </div>
    </div>
</div>

