
@model GestionAgroite_V1_CSI.Models.Categoria
@{
    ViewBag.Title = "AgregarEditar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Agregar / Editar</h2>

<ol class="breadcrumb">
    <li><a href="~/Categoria/Index">Categoria</a></li>
    <li> / </li>
    <li class="active">@(Model.IdCategoria> 0 ? Model.Nombre : "Nueva Categoria")</li>
</ol>

@using (Html.BeginForm("Guardar", "Categoria", FormMethod.Post))
{
    @Html.HiddenFor(x => x.IdCategoria)

    <div class="card">
        <div class="card-header">Información de la Categoria</div>

        <div class="card-body">

            <div class="form-group">
                @Html.Label("Id")
                @Html.TextBoxFor(x => x.IdCategoria, new { @class = "form-control", disabled = true }) <!--no podrá ser editado-->
            </div>

            <div class="form-group">
                @Html.Label("Nombre de la Categoria")
                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "text-danger" })
            </div>

        </div>
    </div>

    <br />
    <div class="text-right">
        <button type="submit" class="btn btn-primary"> Registrar Categoria </button>
        <a href="~/Categoria" class="btn btn-danger"> Cancelar </a>
    </div>
}
